html {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Text header */
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 12px;
}

/* Boxes div container */
.containerOne {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons and game results div container */
.containerTwo {
    display: flex;
    flex-direction: column;
}

/* Game boxes */
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    border: 5px groove rgb(0, 0, 0);
    width: 100px;
    height: 100px;
}

/* Game boxes hover style */
.boxes:hover {
    background-color: rgb(226, 232, 240);
}

/* Display message when a player wins the game */
.results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    margin: 12px 0px;
    padding: 12px 0px;
}

/* Div created in the script to help position the winner message */
.winMessage {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div created in the script to help position the no winner (draw) message */
.drawMessage {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons to start/restart the game */
.start, .restart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px groove rgb(0, 0, 0);
    background-color: rgb(255,255,255);
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 140px;
    height: 35px;
    border-radius: 15px;
    margin: 20px 15px 0px 15px;
    font-size: 12px;
    font-weight: 600;
}

/* Styles for the buttons upon hover */
.start:hover, .restart:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(226, 232, 240);
    font-weight: 600;
    font-size: 13px;
}

/* Styling for the buttons container */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
