html {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Text header */
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 12px 0px;
}

/* Boxes div container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game boxes */
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: rgb(0, 0, 0);
    border: 5px groove rgb(0, 0, 0);
    width: 120px;
    height: 120px;
}

/* Game boxes hover style */
.boxes:hover {
    background-color: rgb(226, 232, 240);
}

/* Display message when a player wins the game */
.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(5,190,17);
    font-size: 22px;
    font-weight: 600;
    margin: 12px 0px;
}

/* Div created in the script to help position the winner message */
.winMessage {
    display: flex;
    justify-content: center;
    align-items: center;
}